.hero {
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }

  .hero-ellipse {
    position: absolute;
    top: remy(-120);
    left: remy(755);
    border-radius: 50%;
    width: remy(1110);
    height: remy(1110);
    backdrop-filter: blur(30px);
    //background: url('../../images/ellipse.svg') no-repeat;
    //background-size: cover;
    z-index: 2;

    @media (max-width: 1199px) {
      display: none;

      border-radius: 0;
      background-color: #fff;
      top: 14rem;
      /* right: 0; */
      left: 20px;
      height: 100px;
      //filter: blur(5px);
      backdrop-filter: blur(30px);

    }
  }


  .hero-info_bg-top {
    position: relative;
    display: none;
    background-color: #fff;
    width: 100%;
    height: 60px;
    margin-top: -50px;
    margin-left: 15px;
    //backdrop-filter: blur(30px);
    filter: blur(5px);
    z-index: 1;

    @media (max-width: 1199px) {
      display: block;
    }
  }

  .hero-info {
    position: absolute;
    top: remy(268);
    right: remy(65);
    width: remy(527);
    height: remy(387);
    z-index: 3;

    @media (max-width: 1199px) {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-inline: remy(16);
      margin-top: -50px;

    }

    .h1 {
      font-weight: 600;
      color: var(--light-black);

      @media (max-width: 1199px) {
        text-align: center;
      }
    }

    .body {
      font-weight: 500;
      color: var(--black);
      margin-top: remy(24);

      @media (max-width: 1199px) {
        text-align: center;
        margin-top: remy(16);
      }
    }

    .btn {
      margin-top: remy(56);

      @media (max-width: 1199px) {
        margin-top: remy(40);
      }
    }
  }
}

