:root {
  --foundation--green-light: #eff8ed;
  //--foundation--green-light-:hover: #e6f5e4;
  //--foundation--green-light-:active: #cceac7;
  --foundation--green-normal: #5aba4b;
  //--foundation--green-normal-:hover: #51a744;
  //--foundation--green-normal-:active: #48953c;
  --foundation--green-dark: #448c38;
  //--foundation--green-dark-:hover: #36702d;
  //--foundation--green-dark-:active: #285422;
  --foundation--green-darker: #1f411a;
  --foundation--green-green-50: #eff8ed;
  --foundation--green-green-100: #cceac7;
  --foundation--green-green-200: #b3dfac;
  --foundation--green-green-300: #90d186;
  --foundation--green-green-400: #7bc86f;
  --foundation--green-green-500: #5aba4b;
  --foundation--green-green-600: #52a944;
  --foundation--green-green-700: #408435;
  --foundation--green-green-800: #326629;
  --foundation--green-green-900: #264e20;
  --light-black: #003d5a;
  --primary: #5bba4b;
  --black: #2d3f48;
  --light-gray: #8d8d8d;
  --gray-blue: #d6e5e5;
  --pink: #fff4fe;
  --purple: #f5f6ff;
  --yellow: #fff8e4;
  --green-1: #ddf2e0;
  --green-2: #e9f8eb;
  --green-3: #f1fff3;
  --blue: #f8fefe;
  --bacground: #fcffff;
  --white: #fff;
}

body{
  --font-family: "Nunito", sans-serif;
  --second-family: "Plus Jakarta Sans", sans-serif;
}
//$text: #252525;
//$sec1: #424242;
//$sec2: #858585;
//$sec3: #D2D2D2;
//$sec4: #EDEDED;
//
//$ac: #E43071;
//$subAc: #FFC1D8;
//$outBg: #FFDAE7;
//
//$footerBg: #0B0D17;
//$footerText: #D9DBE1;

//body{
//  --text: #252525;
//  --sec1: #424242;
//  --sec2: #858585;
//  --sec3: #D2D2D2;
//  --sec4: #EDEDED;
//
//  --ac: #E43071;
//  --subAc: #FFC1D8;
//  --outBg: #FFDAE7;
//}
